@import "breakpoint";
$wide-screen: 1030px;
$tablet-screen: 768px;

html{
  background-color: rgb(223,223,223);
}
body{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  font-size:10px;

  @include breakpoint($tablet-screen){
    font-size:17px;
  }

  @include breakpoint($wide-screen){
    font-size:20px;
  }
}
section{
  img{
    width: 50%;
    float:left;

//    @media (min-width: $tablet-screen) {
//      float: left;
//      width:80%;
//    }
//
//    @media (min-width: $wide-screen) {
//      width:50%;
//    }
  }
$paddingLeftFromImage: 0.8em;
  h1{
      width: calc(50% - #{$paddingLeftFromImage});
      padding-left:$paddingLeftFromImage;
      float:right;
      color: rgb(113,113,123);
      margin: 0;
      font-size:1.7em;
      font-weight: 500;

  }

  .contentBody{
    width:100%;
    float:right;
    margin-top: 1em;
    font-size:1.2em;

    @include breakpoint($tablet-screen){
      width: calc(50% - #{$paddingLeftFromImage});
      padding-left:$paddingLeftFromImage;
      margin: 0;
    }
  }

  .contentQuestion{
    width:100%;
    float:left;

    @include breakpoint($wide-screen) {
      float:left;
      width:50%;
      //    width: calc(50% - 1.3em);
      //    padding-left:1.3em;
      margin-left:25%;
      margin-right:25%;
      margin-top:1em;
    }
  }
}

.questionTitle{
  font-size: 1.5em;
  color:rgb(177,0,20);
}

.questionBody{
  font-size:1.3em;
}

.button{
  width:100%;
  font-size: 1.8em;
  color:rgb(252,255,255);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.3em;
  margin-bottom:0.3em;
  cursor: pointer;

  background: #adadad; /* Old browsers */
  background: -moz-linear-gradient(top,  #adadad 0%, #818181 50%, #adadad 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adadad), color-stop(50%,#818181), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #adadad 0%,#818181 50%,#adadad 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #adadad 0%,#818181 50%,#adadad 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #adadad 0%,#818181 50%,#adadad 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #adadad 0%,#818181 50%,#adadad 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */

  &:hover{
    background: #269800; /* Old browsers */
    background: -moz-linear-gradient(top,  #269800 0%, #48c001 50%, #269800 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#269800), color-stop(50%,#48c001), color-stop(100%,#269800)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #269800 0%,#48c001 50%,#269800 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #269800 0%,#48c001 50%,#269800 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #269800 0%,#48c001 50%,#269800 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #269800 0%,#48c001 50%,#269800 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#269800', endColorstr='#269800',GradientType=0 ); /* IE6-9 */
  }
}