/* line 6, ../scss/design.scss */
html {
  background-color: #dfdfdf;
}

/* line 9, ../scss/design.scss */
body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}
@media (min-width: 768px) {
  /* line 9, ../scss/design.scss */
  body {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  /* line 9, ../scss/design.scss */
  body {
    font-size: 20px;
  }
}

/* line 24, ../scss/design.scss */
section img {
  width: 50%;
  float: left;
}
/* line 38, ../scss/design.scss */
section h1 {
  width: calc(50% - 0.8em);
  padding-left: 0.8em;
  float: right;
  color: #71717b;
  margin: 0;
  font-size: 1.7em;
  font-weight: 500;
}
@media (min-width: 1024px) {
  /* line 38, ../scss/design.scss */
  section h1 {
    float: left;
    width: 100%;
    padding-left: 0;
  }
}
/* line 55, ../scss/design.scss */
section .contentBody {
  width: 100%;
  float: right;
  margin-top: 1em;
  font-size: 1.2em;
}
/* line 68, ../scss/design.scss */
section .contentQuestion {
  width: 100%;
  float: left;
}
@media (min-width: 1024px) {
  /* line 68, ../scss/design.scss */
  section .contentQuestion {
    float: left;
    width: 100%;
    padding-left: 0;
  }
}

/* line 84, ../scss/design.scss */
.questionTitle {
  font-size: 1.5em;
  color: #b10014;
}

/* line 89, ../scss/design.scss */
.questionBody {
  font-size: 1.3em;
}

@media (min-width: 1024px) {
  /* line 93, ../scss/design.scss */
  .allExceptImage {
    float: right;
    width: calc(50% - 1.3em);
    padding-left: 1.3em;
  }
}

/* line 101, ../scss/design.scss */
.button {
  width: 100%;
  font-size: 1.8em;
  color: #fcffff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  background: #adadad;
  /* Old browsers */
  background: -moz-linear-gradient(top, #adadad 0%, #818181 50%, #adadad 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(50%, #818181), color-stop(100%, #adadad));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #adadad 0%, #818181 50%, #adadad 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #adadad 0%, #818181 50%, #adadad 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #adadad 0%, #818181 50%, #adadad 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #adadad 0%, #818181 50%, #adadad 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#adadad',GradientType=0 );
  /* IE6-9 */
}
/* line 122, ../scss/design.scss */
.button:hover {
  background: #269800;
  /* Old browsers */
  background: -moz-linear-gradient(top, #269800 0%, #48c001 50%, #269800 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #269800), color-stop(50%, #48c001), color-stop(100%, #269800));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #269800 0%, #48c001 50%, #269800 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #269800 0%, #48c001 50%, #269800 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #269800 0%, #48c001 50%, #269800 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #269800 0%, #48c001 50%, #269800 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#269800', endColorstr='#269800',GradientType=0 );
  /* IE6-9 */
}

/* line 134, ../scss/design.scss */
#outer {
  width: 70%;
  border: 2px solid black;
  height: 20px;
  border-radius: 10px;
}

/* line 141, ../scss/design.scss */
#inner {
  width: 0;
  background-color: #23F018;
  height: 100%;
  border-radius: 10px;
}

/* line 149, ../scss/design.scss */
.listContainer {
  width: 100%;
  float: left;
}

/* line 154, ../scss/design.scss */
.sample-show-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

/* line 159, ../scss/design.scss */
.sample-show-hide.ng-hide {
  opacity: 0;
}

/* line 163, ../scss/design.scss */
.vi-list {
  list-style-image: url("../images/checkmark.png");
}

/* line 167, ../scss/design.scss */
.vi-item {
  color: #636363;
  margin-bottom: 4px;
}

/* line 173, ../scss/design.scss */
.progressBarMessage {
  font-size: 1.5em;
  color: #bf0000;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 180, ../scss/design.scss */
.progressBarMessagesContainer {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  /* line 180, ../scss/design.scss */
  .progressBarMessagesContainer {
    width: 100%;
    margin: 0;
  }
}

/* line 190, ../scss/design.scss */
.instructions {
  width: 100%;
  font-size: 1.3em;
  color: black;
  margin-top: 1em;
}

/* line 197, ../scss/design.scss */
.rule {
  margin-top: 0.5em;
}
/* line 198, ../scss/design.scss */
.rule .rule-number {
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #909090;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 100%;
  font: bold 21px/32px sans-serif;
  text-align: center;
}

/* line 213, ../scss/design.scss */
.rulesList {
  list-style: none;
  padding-right: 0;
}

/* line 218, ../scss/design.scss */
.disclaimer {
  font-size: 0.5em;
  color: #909090;
  text-align: center;
}
